<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SupabaseURL</key>
	<string>https://sfyhkqkxlwoigpmfevop.supabase.co</string>
	<key>SupabaseKey</key>
	<string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNmeWhrcWt4bHdvaWdwbWZldm9wIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjQzOTAxOTUsImV4cCI6MjA3OTk2NjE5NX0._JqoDJ4H3wXdlfOBGtDqzNrWo3tJq0Fx80aMEyToxrk</string>
</dict>
</plist>
